
<div class="body">
   <div class="wrapper">
       <div class="container">
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
           <button class="button-option"></button>
       </div>
       <button id="restart" (click)="restartGame()">Restart</button>
   </div> 

   <div class="popup hide">
       <p id="message">Sample Message</p>
       <button id="new-game" (click)="newGame()">New Game</button>

